<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tiangagamaproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/praying"
        android:label="Tiang Agama Project"
        android:roundIcon="@drawable/praying"
        android:supportsRtl="true"
        android:theme="@style/Theme.TiangAgamaProject">
        <activity
            android:name=".Main.SplashScreenActivity"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main.MainActivity"/>
        <activity android:name=".Sholat.SholatActivity"/>
        <activity android:name=".Catatan.Activity.LihatCatatanQuranActivity" />
        <activity android:name=".Catatan.Activity.EditCatatanQuranActivity" />
    </application>

</manifest>